@using BoardCutter.Games.SushiGo
@using BoardCutter.Games.SushiGo.Web.Setup

<div
    class="sushi-card @CardClass()"
    style="width:@(BoardSettings.CardWidth)px; height:@(BoardSettings.CardHeight)px; left:@(Left - BoardSettings.ScaledCardWidthOffSet)px;top: @(Top - BoardSettings.ScaledCardHeightOffSet)px; transform: scale(@BoardSettings.CardScale)">
    @if (Card != null)
    {
        <div class="card-content">
            <span class="card-title">@Card.Type</span>
        </div>
    }
</div>

@code {
    [Parameter] public Card? Card { get; set; }
    [Parameter] public required int Left { get; set; }
    [Parameter] public required int Top { get; set; }

    private string CardClass() => Card == null
        ? string.Empty
        : Card.GetCardCssClass();
}