@using SpookilySharp
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider @rendermode="InteractiveServer"/>
<MudDialogProvider @rendermode="InteractiveServer"/>
<MudSnackbarProvider @rendermode="InteractiveServer"/>

<MudLayout>
    <header>
            <div class="header-row">
                <a href="/">
                    <span class="logo">BoardCutter</span>
                </a>
            </div>
            <AuthorizeView>
                <Authorized>
                    <div style="display: flex;flex-direction: row;align-items: center;gap: 10px" class="account-nav-items">
                        <div>
                            <a href="Account/Manage">
                                <MudAvatar Rounded="true">
                                    <MudImage Src="@("https://api.dicebear.com/5.x/bottts-neutral/svg?seed=" + context.User.Identity?.Name.SpookyHash64() + "&size=32")"/>
                                </MudAvatar>
                                <span>
                                </span>
                            </a>
                        </div>
                        <div>
                            <a href="Account/Manage">
                                <span style="color:white">
                                    @context.User.Identity?.Name
                                </span>
                            </a>
                        </div>
                        <div>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken/>
                                <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                                <button type="submit">
                                    <span>
                                        Logout
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <MudLink Href="Account/Register" Match="NavLinkMatch.Prefix">Register</MudLink>
                    <MudLink Href="Account/Signin" Match="NavLinkMatch.Prefix">Signin</MudLink>
                </NotAuthorized>
            </AuthorizeView>
    </header>
    <main>
        <MudContainer Fixed="true">
            @Body
        </MudContainer>
    </main>
    <footer>
        <div class="header-row">
            <a href="/">
                <span class="logo">BoardCutter</span>
            </a>
        </div>
    </footer>
</MudLayout>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}