@using BoardCutter.Games.SushiGo.Models
@using BoardCutter.Core.Web.Shared.Chat
<PageTitle>Main Lobby</PageTitle>

<h1>Main Lobby</h1>
<p>Pick a game to join, or start your own game!</p>

<MudTabs>
    <MudTabPanel Text="Game List">
        <GameList Games="Games" JoinGame="JoinGame" CreateGame="CreateGame"/>
    </MudTabPanel>
    <MudTabPanel Text="Main Lobby Chat">
        <Chat Messages="Messages" SendChatMessage="SendChatMessage"/>
    </MudTabPanel>
</MudTabs>

@code {
    [Parameter] public List<ChatMessage> Messages { get; set; } = [];

    [Parameter] public EventCallback<string> SendChatMessage { get; set; }

    [Parameter] public List<PublicVisible> Games { get; set; } = [];

    [Parameter] public EventCallback<string> JoinGame { get; set; }

    [Parameter] public EventCallback CreateGame { get; set; }
}