@using SushiSharp.Cards
@using SushiSharp.Game
<h3>GameRun</h3>

<MudTable Items="@GameState.Deck" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Type</MudTh>
        <MudTh>Symbols</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Type</MudTd>
        <MudTd>@(string.Join(',', context.Symbols))</MudTd>
    </RowTemplate>
</MudTable>

@code {
    
    [Parameter] public GameState GameState { get; set; } = new(new Player(string.Empty,string.Empty ));
}