.sushi-card {
    background-image: url("OtherAssets/cards.jpg");
    background-position: -815px -400px;
    
    position: absolute;
    
    border: 1px black solid;
    border-radius: 9px;
    
    z-index: 0;
    
    transform-origin: center;
    transition: all .2s ease-in-out;
}

.dimmed {
    opacity: 75%;
}

.selected {
    transform: scale(0.45) rotate(0) !important;
    border: 5px solid limegreen !important;
    z-index: 1 !important;
    box-shadow: 30px 30px 40px black !important;
}

.grow {
    cursor:pointer;

    &:hover {
        transform: scale(0.5) rotate(2deg) !important;
        z-index: 1 !important;
        box-shadow: 40px 50px 60px black !important;
    }
}

.egg-nagiri {
    background-position: -1px 0;
}

.salmon-nagiri {
    background-position: -273px 0;
}

.squid-nagiri {
    background-position: -543px 0;
}

.wasabi {
    background-position: -813px 0;
}

.sashimi {
    background-position: -1085px 0;
}

.tempura {
    background-position: -1357px 0;
}

.dumpling {
    background-position: -1631px 0;
}

.maki-1 {
    background-position: -1901px 0;
}

.maki-2 {
    background-position: -2171px 0;
}

.maki-3 {
    background-position: -2440px 0;
}

.chopsticks {
    background-position: 0 400px;
}

.pudding {
    background-position: -273px 400px;
}

.soy-sauce {
    background-position: -543px 400px;
}

.sushi-board {
    position: relative;
    width: 1200px;
    height: 800px;
    background-color: lightgrey;
}