@page "/ResultsTest"
@rendermode InteractiveServer
@using SushiSharp.Game.Models
@using Newtonsoft.Json
@using SushiSharp.Web.Fixtures
@using SushiSharp.Web.Components.Sushi.Game
@using SushiSharp.Web.Components.Sushi

<h3>Results Test Page</h3>


@if (_viewerVisibleData != null && _publicVisible != null)
{
    <table>
        
    @foreach (var scoreLine in _viewerVisibleData.FinalScores)
    {
        <tr>
            <td><PlayerAvatar Player="_publicVisible.Players.Single(p => p.Id == scoreLine.Key)"></PlayerAvatar></td>
            <td>@scoreLine.Value point(s)</td>
        </tr>
    }
    </table>

    <MudTabs Elevation="4" Rounded="true" Color="@Color.Secondary">
        @foreach (var (roundNumber, roundScores) in _viewerVisibleData.GameScores)
        {
            var roundText = roundNumber == 4 ? "Deserts" : $"Round {roundNumber}";
            <MudTabPanel Text="@roundText">
                <RoundScore Scores="roundScores" RoundNumber="roundNumber" Players="_publicVisible.Players"/>
            </MudTabPanel>
        }
    </MudTabs>
}

@code {
    private readonly ViewerVisible? _viewerVisibleData = JsonConvert.DeserializeObject<ViewerVisible>(TestViewerVisibleData.Sample1Json);
    private readonly PublicVisible? _publicVisible = JsonConvert.DeserializeObject<PublicVisible>(TestPublicVisibleData.Sample1Json);
}